* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0a0a0a;
  font-family: Arial, sans-serif;
}
.card {
  background-color: transparent;
  padding: 40px;
  border-radius: 16px;
  width: 320px;
  text-align: center;
}
.inner-box {
  border: 2px solid #101010;
  border-radius: 12px;
  padding: 20px;
  background: #0a0a0a;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
p {
  color: #ffffff;
  font-size: 14px;
}
